<div class="page">
  {include file="../application/index/view/recommend/page_top.html" /}
  <div class="main" style="text-align:center;">
      <div class="title">办公区域面积建议书</div>
      <table border="1" cellpadding="0" cellspacing="1">
          <tr>
              <th style="width:50px;">序号</th>
              <th style="width:100px;">部门</th>
              <th style="width:160px;">要求</th>
              <th style="width:160px;">人数或数量要求</th>
              <th style="width:120px;">工作位数量</th>
              <th style="width:140px;">建议面积(m2)</th>
          </tr>
          <tr>
              <td>1</td>
              <td>总经理室</td>
              <td>独立房间</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>2</td>
              <td>总经理秘书</td>
              <td>独立房间</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>3</td>
              <td>经理室</td>
              <td>独立房间或区域</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>4</td>
              <td>销售区</td>
              <td>相对独立区域</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>5</td>
              <td>工程师</td>
              <td>相对独立区域</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>6</td>
              <td>维修工程师</td>
              <td>相对独立区域</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>7</td>
              <td>行政部</td>
              <td>相对独立区域</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>8</td>
              <td>培训室</td>
              <td>独立房间</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>9</td>
              <td>小会议室</td>
              <td>独立房间</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>10</td>
              <td>机房</td>
              <td>独立房间</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>11</td>
              <td>茶水间</td>
              <td>独立区域</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>12</td>
              <td>前厅接待区</td>
              <td>独立区域</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>13</td>
              <td>复印室</td>
              <td>独立区域或房间</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>14</td>
              <td>小库房</td>
              <td>独立房间</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>15</td>
              <td>财务室</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>&nbsp;</td>
              <td>小计</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>&nbsp;</td>
              <td>系数</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
          <tr>
              <td>&nbsp;</td>
              <td style="font-weight:bold;">合计</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
          </tr>
      </table>
      <div style="padding-left:52px;padding-top:20px;text-align:left;">
          <span style="font-weight:bold;">说明：</span><br />
          1. 不同公司对员工位及文件柜要求不同，面积将相应不同，此表为建议，仅供参考。<br />
          2. 此面积已综合考虑了通道及公用面积。<br />
          3. 此面积并未考虑贵司可能在三年内发展之扩租面积。<br />
      </div>
  </div>
  {include file="../application/index/view/recommend/page_foot.html" /}
</div>