<h3 style="text-align:center">{$vo.building_name} {$vo.eng.name}</h3>
<table border="0" cellpadding="5" cellspacing="0" style="width:100%;">
    <tr>
        <td style="width:20%;">
            {if count($vo.images) > 0}
                <img src="{$vo.images[0]['src']}" border="1">
            {/if}
            {if count($vo.images) > 1}
                <img src="{$vo.images[1]['src']}" border="1">
            {/if}
        </td>
        <td style="width:46%"><p style="line-height:26px;">{if $vo.address != ''}<span>地理位置：&nbsp;</span><span>{$vo.address}</span><br />
            {/if}
            {if $vo.completion_date != ''}<span>竣工日期：&nbsp;</span><span>{$vo.completion_date|date='Y年m月d日'}</span><br />
            {/if}
            {if $vo.developer != ''}<span>开 发 商：&nbsp;</span><span>{$vo.developer}</span><br />
            {/if}
            {if $vo.manager != ''}<span>物业管理：&nbsp;</span><span>{$vo.manager}</span><br />
            {/if}
            {if $vo.rem != ''}<span>项目说明：&nbsp;</span><span>{$vo.rem}</span><br />
            {/if}
            {if $vo.traffic != ''}<span>交通状况：&nbsp;</span><span>{$vo.traffic}</span><br />
            {/if}
            {if $vo.equipment != ''}<span>楼宇设备：&nbsp;</span><span>{$vo.equipment}</span><br />
            {/if}
            {if $vo.facility != ''}<span>配套设施：&nbsp;</span><span>{$vo.facility}</span><br />
            {/if}
            {if $vo.environment != ''}
                <!-- <span>周边环境：</span><span>{$vo.environment}</span> -->
            {/if}
            </p>
        </td>
        <td style="width:34%">{if $vo.eng != null}<p style="line-height:28px;">{if $vo.eng.location != ''}<span>Location: &nbsp;</span><span>{$vo.eng.location}</span><br />
                {/if}
                {if $vo.eng.situation != ''}<span>Building situation: &nbsp;</span><span>{$vo.eng.situation}</span><br />
                {/if}
                {if $vo.eng.developer != ''}<span>Investors: &nbsp;</span><span>{$vo.eng.developer}</span><br />
                {/if}
                {if $vo.eng.manager != ''}<span>Management company: &nbsp;</span><span>{$vo.eng.manager}</span><br />
                {/if}
                {if $vo.eng.network != ''}<span>Communication: &nbsp;</span><span>{$vo.eng.network}</span><br />
                {/if}
                {if $vo.eng.elevator != ''}<span>Elevator: &nbsp;</span><span>{$vo.eng.elevator}</span><br />
                {/if}
                {if $vo.eng.hvac != ''}<span>HVAC system: &nbsp;</span><span>{$vo.eng.hvac}</span><br />
                {/if}
                {if $vo.eng.amenities != ''}<span>Amenities: &nbsp;</span><span>{$vo.eng.amenities}</span><br />
                {/if}
                {if $vo.eng.tenants != ''}<span>Existing tenants: &nbsp;</span><span>{$vo.eng.tenants}</span>
                {/if}
                </p>
            {/if}
        </td>
    </tr>
</table>