<h2>{$vo.building_name}</h2>
<p>{$vo.desc} {$vo.address}</p>
{if count($vo.images) > 0}
    <table border="0" cellpadding="2" cellspacing="0">
        <tr>
            {foreach $vo.images as $key2=>$img}
                {if $key2 < 3 && $img.is_image }
                    <td><img src="{$img.src}" width="200" height="200" border="1"></td>
                {/if}
            {/foreach}
        </tr>
    </table>
{/if}
<h4 style="color:#800000;">项目概况</h4>
<ul>
    <!-- {if $vo.building_floor != ''}
        <li>楼层： &nbsp; {$vo.building_floor}</li>
    {/if}
    {if $vo.floor_area > 0}
        <li>标准层面积： &nbsp; {$vo.floor_area} 平方米</li>
    {/if} -->
    {if $vo.acreage > 0}
        <li>总建筑面积： &nbsp; {$vo.total_acreage} 平方米</li>
    {/if}
    {if $vo.floor_height > 0}
        <li>层高： &nbsp; {$vo.floor_height} 米</li>
    {/if}
    {if $vo.bearing != ''}
        <li>楼板承重： &nbsp; {$vo.bearing} 千克/平方米</li>
    {/if}
    {if $vo.completion_date != ''}
        <li>竣工日期： &nbsp; {$vo.completion_date|date='Y年m月d日'}</li>
    {/if}
    {if $vo.developer != ''}
        <li>开发商： &nbsp; {$vo.developer}</li>
    {/if}
    {if $vo.manager != ''}
        <li>物业管理： &nbsp; {$vo.manager}</li>
    {/if}
    {if $vo.fee != ''}
        <li>物业费： &nbsp; {$vo.fee}</li>
    {/if}
    <!-- {if $vo.electricity_fee != ''}
        <li>电费： &nbsp; {$vo.electricity_fee}</li>
    {/if}
    {if $vo.car_seat != ''}
        <li>停车位： &nbsp; {$vo.car_seat}</li>
    {/if} -->
</ul>
{if count($vo.units) > 0 }
    <h4 style="color:#800000;">建议单元</h4>
    <table border="0" cellpadding="2" cellspacing="0" style="width:100%;text-align:center;">
        <tr>
            <th style="width:20%;border-bottom:1px solid #000;">单元</th>
            <th style="width:15%;border-bottom:1px solid #000;">朝向</th>
            <th style="width:15%;border-bottom:1px solid #000;">建筑面积</th>
            <th style="width:15%;border-bottom:1px solid #000;">租金</th>
            <th style="width:15%;border-bottom:1px solid #000;">售价</th>
            <th style="width:20%;border-bottom:1px solid #000;">交付状况</th>
        </tr>
        {foreach $vo.units as $key3=>$unit}
            <tr>
                <td style="border-bottom:1px solid #000;">{$unit.unit}</td>
                <td style="border-bottom:1px solid #000;">{$unit.face}</td>
                <td style="border-bottom:1px solid #000;">{$unit.acreage}</td>
                <td style="border-bottom:1px solid #000;">{$unit.rent_price}</td>
                <td style="border-bottom:1px solid #000;">{$unit.sell_price}</td>
                <td style="border-bottom:1px solid #000;">{$unit.decoration}</td>
            </tr>
        {/foreach}
    </table>
{/if}
{if $vo.rem != ''}
    <p><span style="color:#800000;">项目说明 &nbsp; &nbsp;</span>
        <span>{$vo.rem}</span></p>
{/if}
{if $vo.traffic != ''}
    <p><span style="color:#800000;">交通状况 &nbsp; &nbsp;</span>
        <span>{$vo.traffic}</span></p>
{/if}
{if $vo.equipment != ''}
    <p><span style="color:#800000;">楼宇设备 &nbsp; &nbsp;</span>
        <span>{$vo.equipment}</span></p>
{/if}
{if $vo.facility != ''}
    <p><span style="color:#800000;">配套设施 &nbsp; &nbsp;</span>
        <span>{$vo.facility}</span></p>
{/if}

