<h3 style="text-align:center;">物业对比表</h3>
<table border="1" cellspacing="0" cellpadding="2" style="width:100%;text-align:center;">
    <tr>
        <td style="background-color:#c0c0c0;width:10%">项目名称</td>
        <td style="width:30%">{$vo.building_name}</td>
        <td style="width:30%">{if $vo2 != null}{$vo2['building_name']}{/if}</td>
        <td style="width:30%">{if $vo3 != null}{$vo3['building_name']}{/if}</td>
    </tr>
    <!--<tr>
        <td style="background-color:#c0c0c0;">图片</td>
        <td>
            {if count($vo.images) > 0}
                {foreach $vo.images as $imgKey1=>$img1}
                    {if $imgKey1 < 3}
                        <img src="{$img1.src}" border="1" class="building_image">
                    {/if}
                {/foreach}
            {/if}
        </td>
        <td>
            {if $vo2 != null}
                {if count($vo2['images']) > 0}
                    {foreach $vo2['images'] as $imgKey2=>$img2}
                        {if $imgKey2 < 3}
                            <img src="{$img2.src}" border="1" class="building_image">
                        {/if}
                    {/foreach}
                {/if}
            {/if}
        </td>
        <td>
            {if $vo3 != null}
                {if count($vo3['images']) > 0}
                    {foreach $vo3['images'] as $imgKey3=>$img3}
                        {if $imgKey3 < 3}
                            <img src="{$img3.src}" border="1" class="building_image">
                        {/if}
                    {/foreach}
                {/if}
            {/if}
        </td>
    </tr>-->
    <tr>
        <td style="background-color:#c0c0c0;">城区</td>
        <td>{$vo.area}</td>
        <td>{if $vo2 != null}{$vo2['area']}{/if}</td>
        <td>{if $vo3 != null}{$vo3['area']}{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">地址</td>
        <td>{$vo.address}</td>
        <td>{if $vo2 != null}{$vo2['address']}{/if}</td>
        <td>{if $vo3 != null}{$vo3['address']}{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">楼层数</td>
        <td>{$vo.building_floor}</td>
        <td>{if $vo2 != null}{$vo2['building_floor']}{/if}</td>
        <td>{if $vo3 != null}{$vo3['building_floor']}{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">标准层面积</td>
        <td>{if $vo.floor_area > 0}{$vo.floor_area} 平方米{/if}</td>
        <td>{if $vo2 != null && $vo2['floor_area'] > 0}{$vo2['floor_area']} 平方米{/if}</td>
        <td>{if $vo3 != null && $vo3['floor_area'] > 0}{$vo3['floor_area']} 平方米{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">层高</td>
        <td>{if $vo.floor_height > 0}{$vo.floor_height} 米{/if}</td>
        <td>{if $vo2 != null && $vo2['floor_height'] > 0}{$vo2['floor_height']} 米{/if}</td>
        <td>{if $vo3 != null && $vo3['floor_height'] > 0}{$vo3['floor_height']} 米{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">楼板承重</td>
        <td>{if $vo.bearing > 0}{$vo.bearing} 千克/平方米{/if}</td>
        <td>{if $vo2 != null && $vo2['bearing'] > 0}{$vo2['bearing']} 千克/平方米{/if}</td>
        <td>{if $vo3 != null && $vo3['bearing'] > 0}{$vo3['bearing']} 千克/平方米{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">竣工日期</td>
        <td>{$vo.completion_date|date='Y年m月d日'}</td>
        <td>{if $vo2 != null}{$vo2['completion_date']|date='Y年m月d日'}{/if}</td>
        <td>{if $vo3 != null}{$vo3['completion_date']|date='Y年m月d日'}{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">开发商</td>
        <td>{$vo.developer}</td>
        <td>{if $vo2 != null}{$vo2['developer']}{/if}</td>
        <td>{if $vo3 != null}{$vo3['developer']}{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">物业管理</td>
        <td>{$vo.manager}</td>
        <td>{if $vo2 != null}{$vo2['manager']}{/if}</td>
        <td>{if $vo3 != null}{$vo3['manager']}{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">物业费</td>
        <td>{$vo.fee}</td>
        <td>{if $vo2 != null}{$vo2['fee']}{/if}</td>
        <td>{if $vo3 != null}{$vo3['fee']}{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">电费</td>
        <td>{$vo.electricity_fee}</td>
        <td>{if $vo2 != null}{$vo2['electricity_fee']}{/if}</td>
        <td>{if $vo3 != null}{$vo3['electricity_fee']}{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">停车位</td>
        <td>{$vo.car_seat}</td>
        <td>{if $vo2 != null}{$vo2['car_seat']}{/if}</td>
        <td>{if $vo3 != null}{$vo3['car_seat']}{/if}</td>
    </tr>
    <!-- <tr>
        <td style="background-color:#c0c0c0;">项目说明</td>
        <td style="text-align:left;">{$vo.rem}</td>
        <td style="text-align:left;">{if $vo2 != null}{$vo2['rem']}{/if}</td>
        <td style="text-align:left;">{if $vo3 != null}{$vo3['rem']}{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">交通状况</td>
        <td style="text-align:left;">{$vo.traffic}</td>
        <td style="text-align:left;">{if $vo2 != null}{$vo2['traffic']}{/if}</td>
        <td style="text-align:left;">{if $vo3 != null}{$vo3['traffic']}{/if}</td>
    </tr> -->
    <tr>
        <td style="background-color:#c0c0c0;">楼宇设备</td>
        <td style="text-align:left;">{$vo.equipment}</td>
        <td style="text-align:left;">{if $vo2 != null}{$vo2['equipment']}{/if}</td>
        <td style="text-align:left;">{if $vo3 != null}{$vo3['equipment']}{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">配套设施</td>
        <td style="text-align:left;">{$vo.facility}</td>
        <td style="text-align:left;">{if $vo2 != null}{$vo2['facility']}{/if}</td>
        <td style="text-align:left;">{if $vo3 != null}{$vo3['facility']}{/if}</td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">楼层</td>
        <td>
            {assign name="percent" value="100" /}
            {if count($vo.units) > 0}
                {assign name="units1" value="$vo.units|count" /}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo.units as $unitKey1=>$unit1}
                            <td style="width:{$percent/$units1}%">{$unit1.floor}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo2 != null && count($vo2['units']) > 0}
                {assign name="units2" value="$vo2['units']|count" /}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo2['units'] as $unitKey2=>$unit2}
                            <td style="width:{$percent/$units2}%">{$unit2.floor}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo3 != null && count($vo3['units']) > 0}
                {assign name="units3" value="$vo3['units']|count" /}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo3['units'] as $unitKey3=>$unit3}
                            <td style="width:{$percent/$units3}%">{$unit3.floor}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">房号</td>
        <td>
            {if count($vo.units) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo.units as $unitKey1=>$unit1}
                            <td style="width:{$percent/$units1}%">{$unit1.room}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo2 != null && count($vo2['units']) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo2['units'] as $unitKey2=>$unit2}
                            <td style="width:{$percent/$units2}%">{$unit2.room}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo3 != null && count($vo3['units']) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo3['units'] as $unitKey3=>$unit3}
                            <td style="width:{$percent/$units3}%">{$unit3.room}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">面积</td>
        <td>
            {if count($vo.units) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo.units as $unitKey1=>$unit1}
                            <td style="width:{$percent/$units1}%">{$unit1.acreage}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo2 != null && count($vo2['units']) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo2['units'] as $unitKey2=>$unit2}
                            <td style="width:{$percent/$units2}%">{$unit2.acreage}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo3 != null && count($vo3['units']) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo3['units'] as $unitKey3=>$unit3}
                            <td style="width:{$percent/$units3}%">{$unit3.acreage}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">租金</td>
        <td>
            {if count($vo.units) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo.units as $unitKey1=>$unit1}
                            <td style="width:{$percent/$units1}%">{$unit1.rent_price}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo2 != null && count($vo2['units']) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo2['units'] as $unitKey2=>$unit2}
                            <td style="width:{$percent/$units2}%">{$unit2.rent_price}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo3 != null && count($vo3['units']) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo3['units'] as $unitKey3=>$unit3}
                            <td style="width:{$percent/$units3}%">{$unit3.rent_price}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">朝向</td>
        <td>
            {if count($vo.units) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo.units as $unitKey1=>$unit1}
                            <td style="width:{$percent/$units1}%">{$unit1.face}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo2 != null && count($vo2['units']) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo2['units'] as $unitKey2=>$unit2}
                            <td style="width:{$percent/$units2}%">{$unit2.face}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo3 != null && count($vo3['units']) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo3['units'] as $unitKey3=>$unit3}
                            <td style="width:{$percent/$units3}%">{$unit3.face}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
    </tr>
    <tr>
        <td style="background-color:#c0c0c0;">交付状况</td>
        <td>
            {if count($vo.units) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo.units as $unitKey1=>$unit1}
                            <td style="width:{$percent/$units1}%">{$unit1.decoration}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo2 != null && count($vo2['units']) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo2['units'] as $unitKey2=>$unit2}
                            <td style="width:{$percent/$units2}%">{$unit2.decoration}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
        <td>
            {if $vo3 != null && count($vo3['units']) > 0}
                <table border="0" style="width:100%;">
                    <tr>
                        {foreach $vo3['units'] as $unitKey3=>$unit3}
                            <td style="width:{$percent/$units3}%">{$unit3.decoration}</td>
                        {/foreach}
                    </tr>
                </table>
            {/if}
        </td>
    </tr>
</table>
<p style="padding:5px;">说明：上述资料及数据虽力求精确但仅供参考，一切以最终合同为准！</p>
