<h4>（二）支出分类总览</h4>
<table border="1" cellpadding="2" cellspacing="0" width="100%" style="text-align:center;">
    <tr>
        <td style="width:10%;height:200px;"><br/><br/><br/>（一）<br/>一<br/>次<br/>性<br/>支<br/>出</td>
        <td style="width:90%">&nbsp;</td>
    </tr>
    <tr>
        <td style="height:200px;vertical-align:middle;"><br/><br/><br/>（二）<br/>经<br/>常<br/>性<br/>支<br/>出</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="height:200px;vertical-align:middle;"><br/><br/><br/><br/><br/>（三）<br/>押<br/>金</td>
        <td>&nbsp;</td>
    </tr>
</table>
<p>比较时间总开支为：</p>
<p>说明：<br />
    1. 有部分客户要求装修公司承担一部分费用，不需要由客户出，但装修费用将增加。<br />
    2. 免租期内仍要交物业管理费。<br />
    3. 若装修验收时发展商发觉装修过程中破坏了大厦内部结构，损失将从装修押金中扣除。<br />
    4. 若客户提前退租，发展商有权不返还押金。
</p>