<div class="page">
  {include file="../application/index/view/recommend/page_top.html" /}
  <div class="main">
      <div style="padding-top:50px;padding-bottom:10px;">（二）支出分类总览</div>
      <table border="1" cellpadding="0" cellspacing="1">
          <tr>
              <td style="width:70px;height:200px;">（一）<br/>一<br/>次<br/>性<br/>支<br/>出</td>
              <td style="width:650px">&nbsp;</td>
          </tr>
          <tr>
              <td style="width:70px;height:200px;">（二）<br/>经<br/>常<br/>性<br/>支<br/>出</td>
              <td style="width:650px">&nbsp;</td>
          </tr>
          <tr>
              <td style="width:70px;height:200px;">（三）<br/>押<br/>金</td>
              <td style="width:650px">&nbsp;</td>
          </tr>
      </table>
      <div style="padding-top:20px;">比较时间总开支为：</div>
      <div style="padding-left:52px;padding-top:20px;text-align:left;">
          <span style="font-weight:bold;">说明：</span><br />
          1. 有部分客户要求装修公司承担一部分费用，不需要由客户出，但装修费用将增加。<br />
          2. 免租期内仍要交物业管理费。<br />
          3. 若装修验收时发展商发觉装修过程中破坏了大厦内部结构，损失将从装修押金中扣除。<br />
          4. 若客户提前退租，发展商有权不返还押金。<br />
      </div>
  </div>
  {include file="../application/index/view/recommend/page_foot.html" /}
</div>