<table border="0" style="width:100%;text-align:right;"><tr><td><img 
  src="{$data.company.logo}" alt="" width="100" /></td></tr></table>
<div style="font-size:36pt;"><br />呈送：</div>
<div style="text-align:center;font-size:36pt;">
  <br /><br />
  {$data.customer.customer_name}
  <br /><br />
</div>
<div style="text-align:right;line-height:30px;">
  {$data.company.full_name}<br />
  客户经理：{$data.manager.title}<br />
  手机：{$data.manager.mobile}<br />
  {$data.date|date='Y年m月d日'}<br />
</div>
<div style="text-align:center;">声 明</div>
<div style="line-height:30px;">此份报告的内容是{$data.company.title}与讨论此报告特定用途的收件人之间的机密文件。此份报告中的有关资料以及数据取自认为可靠的来源；但是由于市场的迅速变化，{$data.company.title}对于本报告中提供予第三方的部分或全部内容并不承担任何的责任。未经{$data.company.title}事先的书面许可不得将此报告的全部或部分内容或格式刊登于任何的文件，声明或传阅或透露给任何第三方。</div>