<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="application-name" content="{$Think.config.app_name}">
        <title>资料推荐</title>
        <link href="/static/css/print.css?v=1.6" rel="stylesheet">
    </head>
    <body onselectstart="return false" oncopy="return false;" oncut="return false;">
        {include file="../application/index/view/recommend/home_hor.html" /}

        {include file="../application/index/view/recommend/unit_list_hor.html" /}

        {include file="../application/index/view/recommend/building_hor.html" /}
    </body>
</html>