<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="application-name" content="{$Think.config.app_name}">
        <title>{$vo.building_name} {$vo.title}</title>
        {if !empty($wechat)}
        <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
        {/if}
        <style>
            body {
                padding: 0 15px;
                margin: 0px;
                background-color:#ffffff;
                font-size:15px;
                font-family:幼圆,Verdana;
                font-weight:normal;
                color:#000000;
            }
        </style>
    </head>
    <body>
        {if !empty($pdf)}
            <h3>{$vo.building_name} {$vo.title}</h3>
        {/if}
        <p>{if !empty($vo.face)}
                【朝向】{$vo.face}<br/>
            {/if}
            {if !empty($vo.acreage)}
                【面积】{$vo.acreage} 平方米<br/>
            {/if}
            {if !empty($vo.rent_sell)}
                【租售】{$vo.rent_sell}<br/>
            {/if}
            {if !empty($vo.rent_price)}
                【出租价格】{$vo.rent_price} 元/平方米/日<br/>
            {/if}
            {if !empty($vo.sell_price)}
                【出售价格】{$vo.sell_price} 元/平方米<br/>
            {/if}
            {if !empty($vo.decoration)}
                【装修状况】{$vo.decoration}<br/>
            {/if}
            {if !empty($vo.end_date_text)}
                【到期日】{$vo.end_date_text}<br/>
            {/if}
        </p>
        {if !empty($vo.rem)}
            <p>【其他说明】{$vo.rem}</p>
        {/if}

        {if empty($pdf) && !empty($vo.videos)}
            {foreach $vo.videos as $key=>$img}
                <video src="https://{$Think.config.app_host}{$img.src}" 
                    poster="https://{$Think.config.app_host}{$img.msrc}" 
                    width="100%" controls="controls" muted="muted"
                    x5-video-player-type="h5" x5-video-player-fullscreen="true">
                </video>
            {/foreach}
        {/if}

        {if !empty($vo.images)}
            {foreach $vo.images as $key=>$img}
                {if !empty($pdf)}
                    <img src="https://{$Think.config.app_host}{$img.src}" style="width:400px;"><br/>
                {/if}
                {if empty($pdf)}
                    <img src="https://{$Think.config.app_host}{$img.src}" style="width:100%;">
                {/if}
            {/foreach}
        {/if}

        {if !empty($wechat)}
        <script>
            wx.config({
                debug: false,
                appId: '{$wechat.appId}',
                timestamp: {$wechat.timestamp},
                nonceStr: '{$wechat.nonceStr}', 
                signature: '{$wechat.signature}',
                jsApiList: ['showMenuItems',
                    'updateAppMessageShareData',
                    'updateTimelineShareData',
                    'getLocation',
                    'openLocation',
                    'previewImage']
            });

            wx.ready(function(){
                wx.updateAppMessageShareData({ 
                    title: '{$vo.building_name} {$vo.title}', // 分享标题
                    desc: '{$vo.acreage} 平方米 {$vo.rent_price} 元',
                    link: window.location.href,
                    imgUrl: '{$share_image}', // 分享图标
                    success: function () {
                    }
                })

                wx.updateTimelineShareData({ 
                    title: '{$vo.building_name} {$vo.title}',
                    link: window.location.href,
                    imgUrl: '{$share_image}',
                    success: function () {
                    }
                })

                //wx.miniProgram.postMessage({ data:{title: '{$vo.building_name} {$vo.title}', desc:''} });
            });
        </script>
        {/if}
    </body>
</html>