<h3 style="text-align:center">物业推荐一览表</h3>
<table border="0" cellpadding="2" cellspacing="0" style="text-align:center;border-bottom:1px solid #000;">
    <tr>
        <th style="width:6%;border-bottom:1px solid #000;">序号</th>
        <th style="width:38%;border-bottom:1px solid #000;">物业名称</th>
        <!-- <th style="width:25%;border-bottom:1px solid #000;">地理位置</th> -->
        <th style="width:21%;border-bottom:1px solid #000;">单元</th>
        <th style="width:15%;border-bottom:1px solid #000;">面积㎡</th>
        <th style="width:20%;border-bottom:1px solid #000;">租金</th>
    </tr>
    {foreach $data.list as $key=>$vo}
        {assign name="rowspan" value="$vo.units|count" /}
        <tr>
            {if $rowspan > 0 }
                <td rowspan="{$rowspan}">{$key + 1}</td>
                <td rowspan="{$rowspan}" style="text-align:left;">{$vo.building_name}
                    {if $rowspan > 1 && $vo.eng != null && $vo.eng.name != ''}
                    <br/><span style="font-size:9pt">{$vo.eng.name}</span>
                    {/if}
                </td>
                <!-- <td rowspan="{$rowspan}">{$vo.address}</td> -->
                <td>{$vo.units[0]["unit"]}</td>
                <td>{$vo.units[0]["acreage"]}</td>
                <td>{$vo.units[0]["rent_price"]}</td>
            {else /}
                <td>{$key + 1}</td>
                <td style="text-align:left;">{$vo.building_name}</td>
                <td>{$vo.address}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            {/if}
        </tr>
        {if $rowspan > 1}
            {foreach $vo.units as $uKey=>$unit}
                {if $uKey > 0}
                    <tr>
                        <td>{$unit.unit}</td>
                        <td>{$unit.acreage}</td>
                        <td>{$unit.rent_price}</td>
                    </tr>
                {/if}
            {/foreach}
        {/if}
    {/foreach}
</table>
<p>说明：租金为含物业费报价（元/天/平方米），上述资料及数据虽力求精确但仅供参考，一切以最终合同为准！</p>